<h1>Editing User #<%= @user.id %></h1>

<form action="/users/<%= @user.id %>/update">
  <div>
    <label for="img">Image URL</label><br />
    <input id="img" name="img" value="<%= @user.img  %>" type="url" />
  </div>
  <div>
    <label for="name">Name</label><br />
    <input id="name" name="name" value="<%= @user.name  %>" type="text" />
  </div>
  <div>
    <label for="bio">Bio</label><br />
    <input id="bio" name="bio" value="<%= @user.bio  %>" type="text" />
  </div>
  <div>
    <label for="password">Password</label><br />
    <input id="password" name="password" type="password" />
  </div>
  <div>
    <label for="password_confirmation">Password Confirmation</label><br />
    <input id="password_confirmation" name="password_confirmation" type="password" />
  </div>
  <div>
    <input type="submit">
  </div>
</form>


