<h1>User #<%= @user.id %></h1>
<div>
  <img class="profile" src="<%= @user.img %>">
</div>
<div>
  <strong>Email</strong>:<br />
  <p><%= @user.name %></p>
</div>
<div>
  <strong>Bio</strong>:<br />
  <p><%= @user.bio %></p>
</div>
<a href="/users/<%= @user.id %>/edit">Edit</a> |
<a href="/users/<%= @user.id %>/destroy">Destroy</a>
